In [1]:
#importing Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#to read dataset

data = pd.read_csv('iris.csv')
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
#To avoid Id column which is not required
data = data.drop(columns=['Id'])
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
data['Species'].unique()
data.Species.value_counts()
colnames = list(data.columns)
predictors = colnames[:4]
target = colnames[4]

In [11]:
#splitting data into train and test

from sklearn.model_selection import train_test_split
train, test = train_test_split(data, test_size=0.20)

In [12]:
#Model creation - Decision Tree

from sklearn.tree import DecisionTreeClassifier
dt_model = DecisionTreeClassifier(criterion = 'entropy')
dt_model.fit(train[predictors], train[target])

DecisionTreeClassifier(criterion='entropy')

In [18]:
pred = dt_model.predict(test[predictors])

temp = pd.Series(dt_model.predict(train[predictors])).reset_index(drop=True)
np.mean(pd.Series(train.Species).reset_index(drop=True) == pd.Series(dt_model.predict(train[predictors])))
np.mean(pred==test.Species)

0.8666666666666667